[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
async-generator = "*"
attrs = "*"
backcall = "*"
beautifulsoup4 = "*"
bleach = "*"
certifi = "*"
cffi = "*"
chardet = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
idna = "*"
importlib-metadata = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
jedi = "*"
Jinja2 = "*"
json5 = "*"
jsonschema = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyterlab = "*"
jupyterlab-pygments = "*"
jupyterlab-server = "*"
MarkupSafe = "*"
mistune = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
nest-asyncio = "*"
notebook = "*"
packaging = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prometheus-client = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycparser = "*"
Pygments = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pyzmq = "*"
requests = "*"
Send2Trash = "*"
six = "*"
soupsieve = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"
zipp = "*"
langdetect = "*"
nltk = "*"
google_trans_new = "*"
pandas = "*"
bokeh = "*"
seaborn = "*"
spacy = "*"
numpy = "*"
pipreqs = "*"
wordcloud = "*"
gensim = "*"
matplotlib = "*"
pandas_profiling = "*"
pyLDAvis = "*"
scikit_learn = "*"


[requires]
python_version = "3.8.5"